.abc {
  text-align: center;
  padding: 32px;  
  color:blue;
  font-size: 24px;
  font-weight: bold;
  background-color: #f0f0f0;
  width:30%;
}
.def {
  text-align: right;
  padding: 32px;  
  color:blue;
  font-size: 34px;
  font-weight: italic;
  background-color: green;
  width:70%;
}
.container {
  display: grid;
  gap: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.products {
  display:grid;
  grid-template-columns:repeat(3,1fr) ;
  gap:20px;
}
.details {
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:10px;
  
}

.card {
  width: 1024px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: 0.3s;
  background: burlywood;
  justify-content: center;
  padding:10px;
  display:flex;
}

.cart {
gap:"10px";
border-radius: 10px;
background-color: rgb(17, 24, 43);
transition:1s;
box-shadow: 0 4px rgba(13, 3, 32, 0.15);
padding:10px;
margin-bottom: 9px;
width:70%;
display:flex;
justify-content: center;
align-items:center;
margin:0 auto 15px;
}

.card1 {
  display :grid;
  grid-template-columns:repeat(3,1fr);
  gap:10px;
  justify-content: center;
}

.signup {
  display: grid;
  width:600px;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
  background-color: burlywood;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  background-color:#CBD5E1;
  margin-bottom: 20px;
}

.form {
  display : flex;
  flex-direction: column;
  margin-bottom: 20px;

}
.form label {
  margin-bottom: 5px;
  Text-align: left;
}

.login {
  display: grid;
  width:400px;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 30px;
  background-color: #6d4c7a;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 60px;
}

.button{
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
.button-position {
  grid-column: 1 / -1;
  text-align: center;
}
.form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.form label{
  color:aqua
}
.form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.errors{
  color:red;
  font-size:14px;
  margin-top:5px;
  text-align:left;
}
.header {
  background-color: #0F172A;
  color: white;
  width: 96.5%;
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.header button{
  padding : 5px;
}
/*
margin : top right bottom left;
*/

.AddProduct{
  background-color:#66c0d6;
  width:800px;
  display:grid;
  grid-template-columns: repeat(2,2fr); 
  margin:0 auto;
  align-self :center;
  flex-wrap: wrap;
  padding:30px;
  gap:20px;
  border-radius: 10px;
}

.field{
  display:flex;
  flex-direction: column;
  width:70%;
  margin:0 auto;
}
.field label{
  text-align: left;
  color:aqua;
  margin-bottom: 2px;
  
}
.field input{
  text-align: left;
  color:blue;
  padding:10px;
  border-radius: 10px;
}
.field-position{
  grid-column: 1 / -1;
  width:85%;
}
.field textarea{
  text-align: left;
  color:blue;
  padding:10px;
  border-radius: 10px;;
}

.field select{
  text-align: left;
  padding:10px;
  border-radius: 10px;
}

.button1{
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  width: 200px;
}